<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Real Time Data Update !
  </h1>
</div>

<mat-grid-list cols="2" rowHeight="4:1">
    <mat-grid-tile>
        <mat-card class = "tp-card" >
            <mat-card-title>Student</mat-card-title> 
            <mat-card-subtitle><a routerLink="/student">Student</a></mat-card-subtitle>
          </mat-card>

    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class = "tp-card" >  
            <mat-card-title>Evaluator</mat-card-title> 
            <mat-card-subtitle><a routerLink="/evaluator">Evaluator</a></mat-card-subtitle>
          </mat-card>

    </mat-grid-tile>
</mat-grid-list>


<router-outlet></router-outlet>
